.App {
  text-align: center;
  background-color:#424242;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
  padding: 173px 0px;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.styletodo{
  padding-left: 680px;
  padding-top: 30px;
  padding-bottom: 10px
}
.todomd{
  color:rgb(151, 129, 5);
  text-align: center;
  font-style:bold;
  font-family:Courier ;
  font-size: 20px;
  
}
.btnmdl{
  color : white ;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 2px;
  text-transform: uppercase;

}
.btnmdls{
  color : whitesmoke ;
  background-color: rgb(161, 7, 7);
  font-weight: 500;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 5px;
  text-transform: uppercase;
}
.inputdsg{
  background-color:rgb(240, 236, 187);
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 20px;
  padding : 8px;
}

.inpt{
  background-color:rgb(240, 236, 187);
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding : 5px;
}
.cls{
  font-weight: 500;
  padding: 20px;
  margin: 10px 20px;
  text-transform: uppercase;

}